$iota-utils-font-config-raleway: true;
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style : normal;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-ThinItalic.ttf') format('ttf');
  font-weight: 100;
  font-style : italic;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style : normal;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-ExtraLightItalic.ttf') format('ttf');
  font-weight: 200;
  font-style : italic;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-Light.ttf') format('ttf');
  font-weight: 300;
  font-style : normal;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style : italic;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style : normal;
}
// @font-face {
//   font-family: 'Raleway';
//   src        : url('assets/fonts/raleway/Raleway-RegularItalic.ttf') format('ttf');
//   font-weight: 400;
//   font-style : italic;
// }
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style : normal;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style : italic;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style : normal;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-SemiBoldItalic.ttf') format('ttf');
  font-weight: 600;
  font-style : italic;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style : normal;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style : italic;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style : normal;
}
@font-face {
  font-family: 'Raleway';
  src        : url('assets/fonts/raleway/Raleway-ExtraBoldItalic.ttf') format('ttf');
  font-weight: 800;
  font-style : italic;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
