/**
 * Grid columns. This setting is shared between
 * iotaCSS grid objects and size, pull & push
 * utilities. You can change it also locally to
 * each module.
 *
 * Type: Unitless Number / List
 */
$iota-global-columns             : 2, 3, 4, 6;
/**
 * Global namespace for Objects, Components and
 * Utilities
 *
 * Type: String
 */
$iota-global-objects-namespace   : 'o-';
$iota-global-utilities-namespace : 'u-';
$iota-global-components-namespace: 'c-';
$iota-global-separator           : '_';
/**
 * Default gutters. This setting is shared between
 * multiple objects and utilities as the default value
 * for gutters. You can change it also locally to each
 * module.
 *
 * Type: Number / List / Map
 */
$iota-global-gutter-default      : 20px;
/**
 * Enables flexbox across the app. If you do not want
 * all modules to use flexbox you can keep this value
 * false and set it to true separately to each one of
 * them locally.
 *
 * Type: Boolean
 */
$iota-global-flex                : false;
/**
 * Enables rtl across the app. If you enable this setting
 * the final CSS will be converted to RTL.
 *
 * Type: Boolean
 */
$iota-global-rtl                 : false;
/**
 * Default global breakpoints map. These are the
 * default breakpoints map that will be shared across
 * all iotaCSS modules. You can change it also locally
 * to each module.
 *
 * Type: Map
 */
$iota-global-breakpoints         : ( xs : "screen and ( min-width: 665px )", sm : "screen and ( min-width: 768px )", md : "screen and ( min-width: 1075px )" );
/**
 * Global breakpoint suffix naming setting. All breakpoint
 * specific styles have a '@breakpointName' suffix by default.
 * The \ character is used to escape the @ character.
 *
 * Type: String
 */
$iota-global-breakpoint-separator: \@;
/**
 * Global delimiter naming setting for Size, Push and Pull
 * utilities. By default it is '/' (.u-1/2) and you can change
 * it for example to 'of' so that the generated HTML class will be
 * 'u-1of2'.
 *
 * Type: String
 */
$iota-global-utils-fonts         : ( lato: 'Lato', raleway: 'Raleway', arista: 'Arista' );
$iota-global-delimiter           : \/;
$iota-global-primary-color       : #35456f;
$iota-global-secondary-color     : #469375;
$iota-global-white               : #ffffff;
$iota-global-lightgrey           : #9facb5;
$iota-global-off-white           : #C8CDD3;
$iota-global-black               : #000000;
$iota-global-off-black           : rgb(57, 63, 69);
$iota-global-colors              : ( white : #FFFFFF, offwhite: $iota-global-off-white, lightgrey: $iota-global-lightgrey, offblack: $iota-global-off-black, black : #000000, primary: $iota-global-primary-color, secondary: $iota-global-secondary-color );
$iota-global-heading-font        : 'Comfortaa', sans-serif;
$iota-global-root                : '#app';
@import url( 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Lato:300,400');
@import '../../node_modules/iotacss/settings/core';
