$iota-components-jumbotron: true;
$iota-components-jumbotron-namespace: 'jumbotron' !default;
$iota-components-jumbotron-container-name: 'container' !default;
$iota-components-jumbotron-image-name: 'image' !default;
$iota-components-jumbotron-icon-name: 'icon' !default;
$iota-components-jumbotron-padding: $iota-global-gutter-default !default;
$iota-components-jumbotron-background: $iota-global-primary-color !default;
$iota-components-jumbotron-container-background: rgb(255, 255, 255) !default;

.#{$iota-global-components-namespace + $iota-components-jumbotron-namespace} {
  font-family        : 'Comfortaa', sans-serif;
  background         : #fff;
  width              : 100%;
  position           : relative;
  height             : 100vh;
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : cover;

  .#{$iota-global-components-namespace + $iota-components-jumbotron-namespace + $iota-global-separator + $iota-components-jumbotron-container-name} {
    .#{$iota-global-components-namespace + $iota-components-jumbotron-namespace + $iota-global-separator + 'slideshow'} {
      .#{$iota-global-components-namespace + $iota-components-jumbotron-namespace + $iota-global-separator + 'slideshow' + '-slide'} {
        .#{$iota-global-components-namespace + $iota-components-jumbotron-namespace + $iota-global-separator + 'slideshow' + '-video-wrapper'} {
          position: absolute;
          top     : 0;
          bottom  : 0;
          width   : 100%;
          height  : 100%;
          overflow: hidden;

          video {
            /* Make video to at least 100% wide and tall */
            min-width : 100%;
            min-height: 100%;
            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            width     : auto;
            height    : auto;
            /* Center the video */
            position  : absolute;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%,-50%);
          }
        }
        color: blue;

        .#{$iota-global-components-namespace + $iota-components-jumbotron-namespace + $iota-global-separator + 'slideshow' + '-slide-container'} {
          position        : absolute;
          width           : 100vw;
          height          : 100%;
          left            : 0;
          top             : 0;
          background-color: rgba(0, 0, 0, 0.4);
          display         : -webkit-flex;
          display         : -ms-flex;
          display         : flex;
          flex-direction  : column;
          justify-content : center;
          padding-left    : 30px;
          padding-right   : 10%;
          transition      : all 0.25s linear;
          @include iota-breakpoint(sm) {
            padding-left: 60px;
          }
          @include iota-breakpoint(md) {
            padding-left: 130px;
          }

          .#{$iota-global-components-namespace + $iota-components-jumbotron-namespace + $iota-global-separator + 'slideshow' + '-slide-wrapper'} {
            padding-right : 40px;
            transition    : all 0.5s linear;
            display       : -webkit-flex;
            display       : -ms-flex;
            display       : flex;
            flex-direction: column;
          }
        }
      }
      color: #000;
    }

    .c-jumbotron_arrow {
      left      : 0;
      position  : absolute;
      bottom    : 0;
      right     : 0;
      text-align: center;
      font-size : 40px;

      a {
        color          : $iota-global-white;
        text-decoration: none;

        &:active,
        &:focus,
        &:visited {
          color: $iota-global-white;
        }
      }
    }
  }
}
