$iota-utils-flex-namespace: 'flex';
$iota-utils-flex-namespace-separator: '-';
$iota-utils-flex-breakpoints: $iota-global-breakpoints;

.#{$iota-global-utilities-namespace + $iota-utils-flex-namespace} {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

.#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'inline'} {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

.#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'left'} {
  -ms-flex-pack          : start;
  -webkit-justify-content: flex-start;
  justify-content        : flex-start;
}

.#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'center'} {
  -ms-flex-pack          : center;
  -webkit-justify-content: center;
  justify-content        : center;
}

.#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'right'} {
  -ms-flex-pack          : end;
  -webkit-justify-content: flex-end;
  justify-content        : flex-end;
}

.#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'between'} {
  -ms-flex-pack          : justify;
  -webkit-justify-content: space-between;
  justify-content        : space-between;
}

.#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'around'} {
  -ms-flex-pack          : distribute;
  -webkit-justify-content: space-around;
  justify-content        : space-around;
}
@each $iota-utils-flex-var-breakpoint-name, $iota-utils-flex-var-breakpoint-size in $iota-utils-flex-breakpoints {
   @media #{$iota-utils-flex-var-breakpoint-size}{
    .#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-global-breakpoint-separator + $iota-utils-flex-var-breakpoint-name} {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    .#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'inline' + $iota-global-breakpoint-separator + $iota-utils-flex-var-breakpoint-name} {
      display: -ms-inline-flexbox;
      display: -webkit-inline-flex;
      display: inline-flex;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    .#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'left' + $iota-global-breakpoint-separator + $iota-utils-flex-var-breakpoint-name} {
      -ms-flex-pack          : start;
      -webkit-justify-content: flex-start;
      justify-content        : flex-start;
    }

    .#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'center' + $iota-global-breakpoint-separator + $iota-utils-flex-var-breakpoint-name} {
      -ms-flex-pack          : center;
      -webkit-justify-content: center;
      justify-content        : center;
    }

    .#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'right' + $iota-global-breakpoint-separator + $iota-utils-flex-var-breakpoint-name} {
      -ms-flex-pack          : end;
      -webkit-justify-content: flex-end;
      justify-content        : flex-end;
    }

    .#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'between' + $iota-global-breakpoint-separator + $iota-utils-flex-var-breakpoint-name} {
      -ms-flex-pack          : justify;
      -webkit-justify-content: space-between;
      justify-content        : space-between;
    }

    .#{$iota-global-utilities-namespace + $iota-utils-flex-namespace + $iota-utils-flex-namespace-separator + 'around' + $iota-global-breakpoint-separator + $iota-utils-flex-var-breakpoint-name} {
      -ms-flex-pack          : distribute;
      -webkit-justify-content: space-around;
      justify-content        : space-around;
    }
  }
}
